.dot{
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    background: red;
}
.points_list_div {
    position: absolute;
    top: 0px;    
    left:-10px;
}